<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Welcome {{loggedUser.username}} </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
              <a class="nav-link" href="/logout">Logout</a>

            </div>
          </div>
        </div>
      </nav>
        
      <h1 class="text-center mt-2">Team Info</h1>
      <div class="text-center">
        <p>Name: {{team.name}}</p>
        <p>Trophies: {{team.trophies}}</p>
        <p>Founded: {{team.founded}}</p>
        <p>Nr of players: {{team.nrOfPlayers}}</p>
        <p>Home Stadium: {{team.homeStadium}}</p>
        <p>League: {{team.league}}</p>
        <p>Record created on: {{team.created_at}}</p>
        <p>Last updated: {{team.updated_at}}</p>
        <p>Record Creator: {{team.email}}</p>
        <h4 onmouseenter="showLikers('likers')" onmouseleave="hideLikers('likers')">Likes: {{usersWhoLiked|length}}</h4>
        <h2>All likers</h2>
        <div id="likers" class="d-none">
          {% for pers in likersDetails %}
          <p>{{pers.email}}</p>
          {% endfor %}
      </div>
        {% if loggedUser.id in usersWhoLiked %}
        <a class="btn btn-warning" href="/unlike/{{team.id}}">Unlike team</a>      
        {% else %}
        <a class="btn btn-primary" href="/like/{{team.id}}">Like team</a>      
        {% endif %}

       

</div>
</body>
</html>